<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动态创建表</title>
</head>
<body>

<form id="createTableForm" name="createTableForm" action="/createNewTable"
      accept-charset="utf-8" method="post" style="text-align:center;">
    <div>
        <p>
            <input type="text" id="tableName" name="tableName" placeholder="在此输入新表名称"
                   style="font-size: 18px;height: 50px;width: 50%"/>
        </p>
        <input type="submit" id="createTableSubmit" name="createTableSubmit"
               style="font-size: 18px;height: 50px;width: 50%;background-color: #FFA500;border: none;color: white"
               value="创   建"/>
    </div>
</form>

</body>
</html>